<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="GitHubIconsBaseUrl" value="http://openra.mine.nu/Icons/"/>
        <add key="BitBucketIconsBaseUrl" value="http://openra.mine.nu/Icons/"/>
        <add key="ShowRepositoryIcon" value="True"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
    </runtime>
</configuration>
