<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BotToken" value=""/>
        <add key="TrustedRoles" value="Parjoli;ParjoliInTraining"/>
        <add key="memeCommandsRelativeFilePath" value="Assets/memeCommands.json"/>
        <add key="ggVoiceFile" value="Assets/gg.mp3"/>
        <add key="surpriseMf" value="Assets/surprise-motherfucker.mp3"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
    </runtime>
</configuration>
